// http://ionicframework.com/docs/theming/
@font-face {
    font-family: MonSkazka;
    src: url(../assets/fonts/MonSkazka.ttf) format("truetype");
    font-weight: 200
}
@font-face {
    font-family: MonGeorgia;
    src: url(../assets/fonts/MonGeorgia.ttf) format("truetype");
    font-weight: 200
}
@font-face {
    font-family: MonLazurski;
    src: url(../assets/fonts/MonLazurski.ttf) format("truetype");
    font-weight: 200
}
@font-face {
    font-family: MonInfact;
    src: url(../assets/fonts/MonImpact.ttf) format("truetype");
    font-weight: 200
}
@font-face {
    font-family: GymnasiaCompressedMon;
    src: url(../assets/fonts/GymnasiaCompressedMon.ttf) format("truetype");
    font-weight: 200
}
@font-face {
    font-family: GLECB;
    src: url(../assets/fonts/GLECB.TTF) format("truetype");
    font-weight: 200
}
@font-face {
    font-family: MonFnt19;
    src: url(../assets/fonts/MonFnt19-Bold.ttf) format("truetype");
    font-weight: 200
}
body {
    font-family: MonFnt19;
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
